#wrapper{
	margin: 0 auto;
	width: 841px;
}

#headline:hover{
	cursor:pointer;
}

#headlineFromSubPage:hover{
	cursor:pointer;
}

#headline{
	text-align: center;
}

#headlineFromSubPage{
	text-align: center;
}

#leftArrow{
	font-size: 60px;
}

#rightArrow{
	font-size: 60px;
}

#leftArrow:hover{
	cursor:pointer;
	font-size: 60px;
}

#rightArrow:hover{
	cursor:pointer;
	font-size: 60px;
}

.mainIMG{
    display:block;
    margin:auto;
    height: 300px;
}

#rightArrow{
    float:right;
}

.nav li{
	padding-left: 26px;
}

.textWrapper{
	margin-left: 220px;
	margin-top: 20px;
	width: 400px;
}

.col-md-2 p{
	padding-top: 20px;
}

.selected{
	text-decoration: underline;
}

.footer{
	padding-top: 10px;
	position:absolute;
	bottom: 0px;
	width: 100%;
    border-top: thin solid gray;
    text-align: center;
    color: gray;
}